#tback{
    background-color: #fafafa;
}

#link{
    color: #77ace9;
    text-decoration-line: underline;
    font-weight: bold;
}

#hback{
    background-color:  #2d323e;
}

#bback{
    background-color: #fafafa;
}
#bold{
    font-weight: bold;
}
#line{
    width:45%;
}
#fback{
    background-color: #17212d;
}